dist/
build/
venv/
__main__.spec
__main__.py
__pycache__/
.DS_Store
.vim/coc-settings.json
FourierObjects/*
!FourierObjects/.gitignore
._*
fourier_drawing/._*
FourierImages/._*
fourier_drawing.egg-info/
