[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
pygame = "*"

[dev-packages]
jedi = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.9"
